{% extends "saller/base.html" %}
{% block title %}
    商品列表
{% endblock %}

{% block label %}
    商品列表
    <a href="/Saller/goods_add/">增加商品</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>商品产地</th>
            <th>商品保质期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for one in goods_list %}
            <tr>
                <td>{{ one.goods_number }}</td>
                <td>{{ one.goods_name }}</td>
                <td>{{ one.goods_price }}</td>
                <td>{{ one.goods_count }}</td>
                <td>{{ one.goods_location }}</td>
                <td>{{ one.goods_safe_date }}</td>
                <td>
                    <button class="btn btn-primary">修改</button>
                    {#                    <button class="btn btn-warning">下架</button>#}
                    {% if one.goods_status == 1 %}
                        <a href="/Saller/goods_status/down/{{ one.id }}" type="button" class="btn btn-warning">下架</a>
                    {% else %}
                        <a href="/Saller/goods_status/up/{{ one.id }}" type="button" class="btn btn-warning">上架</a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>

    <ul style="float:right; margin-right: 50px" class="pagination">

        {% for one in goods_all.page_range %}
            <li class="paginate_button page-item previous">
                {#                {% if one.goods_status == 1 %}#}
                {% if status == "1" %}
                    <a href="/goods_list/1/{{ one }}" class="page-link">{{ one }}</a>
                {% else %}
                    <a href="/goods_list/0/{{ one }}" class="page-link">{{ one }}</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>




{% endblock %}
