<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="text" name="username">#}
{##}
{#    <input type="submit" value="提交">#}
{##}
{#</form>#}


<div>
    <form action="" method="post">
    {% csrf_token %}
    {% for one in form_cspost %}
        <p>
        {{ one.label }}
          {{ one }}
        </p>
    {% endfor %}

        <input type="submit" value="提交">
    </form>
{{ content }}
</div>






</body>
</html>