<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api接口提供数据</title>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
</head>
<body>
<div id="content">

</div>


<script>
    $.ajax(
        {
            url:"/goods_list_api/1/1/",
            type:"get",
            data:"",
            success:function (data) {
                console.log(data["data"])
                for(var one in data["data"]){
                    var p = '<p>' + data["data"][one]["goods_name"] + '</p>'
                    $("#content").append(p)
                }

                //$("#content").text(data["data"][0]["goods_name"])
            },
            error:function (error) {
                console.log(error)

            }
        }
    )

</script>


</body>
</html>